<div class="hero-section">
  <div class="hero-image">
    <img src="/RAILLOGO.png" alt="Travel Image">
  </div>
  <div class="hero-content">
    <h2>მატარებლის ბილეთები</h2>
    <p>რეზერვაციის ბილეთების შეძენამდე თვალი გადაავლე დეტალურ მონაცემებს: მოსახერხებელი ძიება, მგზავრობის პარამეტრები და ფასები. გისურვებთ მხიარულ მოგზაურობას!</p>

    <div class="benefits">
      <div class="benefit">
        <img src="secure100.png" alt="">
        <span>შეუდარებელი მახასიათებლები</span>
      </div>
      <div class="benefit">
        <img src="suppor24.png" alt="">
        <span>24X7 მხარდაჭერა</span>
      </div>
      <div class="benefit">
        <img src="truspay.png" alt="">
        <span>100% უსაფრთხო</span>
      </div>
      <div class="benefit">
        <img src="unoffer.png" alt="">
        <span>100% თანხის დაბრუნება</span>
      </div>
    </div>
  </div>
</div>
